body {
    background: black;
    color: white;
    font-size: 16px;
    padding: 50px;
    columns: 2;
}
h1 {
    text-decoration: underline;

}
a {
    color: white;
}

.strong {
    font-weight: bold;
}
