* {
    transition: all .1s ease-in;
}
body {

    background: #3399CC;
    height: 96vh;
    border: 2vh solid  #2B81AC;
    margin: 0px;
    padding: 50px 300px;
    color: white;
    font: sans-serif;
}

h1{
     font-family: 'Lucida Sans Unicode';
}

ul {
    display: block;
    list-style: none;
    text-align:  center;
    font-family: "Lucida Grande";
    font-size: 0px;
    padding: 0px;
    max-width: 100%;
    margin:  0 auto;
    border: 2px solid white;
    background: white;
}

li {
    display: inline-block;
    border: 3px solid white;
    font-size: 15px;
    box-sizing:border-box;
    width: 25%;
}
p{
    line-height: 15px;
}


.blue {
    background-color: #3399CC;
}

.lightblue {
    background-color: #33CCCC;
}

.purple {
    background-color: #996699;
}

.red {
    background-color: #C24747;
}

.orange {
    background-color: red;
}

.yellow {
    background-color: #FFCC66;
}

.lightgreen {
    background-color: #99CC99;
}

.grey {
    background-color: #669999;
}

.pink {
    background-color: #CC6699;
}

.green {
    background-color: #339966;
}

.darkblue {
    background-color: #666699;
}
li p:nth-child(2n) {
    opacity: .7;
}

.normal {
	width: 50%;
}

.large {
	width: 100%;
}

ul:hover li {
    opacity: 0.5;
}
ul li:hover {
    opacity: 1;
}





