* {
  transition: all .1s ease-in;
}
body {
  background-color: #3b3f45;
  color: white;
  font-family: Trebuchet MS, Trebuchet, Arial, sans-serif;
  font-size: 14px;
  border: 20px solid white;
  height: 640px;
  margin: auto;
}
header {
  background-color: #4a4f56;
  color: #eb7e7f;
  text-align: center;
  padding: 5px;
}
p {
  font-size: 20px;
  margin-top: -15px;
}
section {
  width: 60%;
  margin: auto;
  padding-top: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  background-color: #88839e;
  font-size: 20px;
  padding: 15px;
}
span {
  font-size: 12px;
}
ul li:nth-child(2) {
  background-color: #7a7593;
}
li:hover {
  background-color: #625e77;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transition: all .1s ease-in;
}
li:active {
  background-color: #eb7e7f;
}
input:checked + text {
  text-decoration: line-through;
  color: #a3a0b5;
}
li span:before {
  content: " ( ";
  font-size: 12px;
  margin-left: 5px;
  color: #b8cbd6;
}
li span:after {
  content: " ) ";
  font-size: 12px;
  color: #b8cbd6;
}
footer {
  width: 60%;
  margin: 30px auto;
  padding: 15px 0;
  background-color: #4a4f56;
  text-align: center;
  font-size: 20px;
  color: #eb7e7f;
}
