body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background: #f1f1f1;
    color: #c2c2c2;
}
form {
    padding: 4px 20px;
    width: 80%;
    margin:  25px auto;
    height: 120px;
}
input[type="text"]{
    border: none;
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    width: 87%;
    vertical-align: top;
    background-color: #f1f1f1;
    color: #ec5a62;
    font-size: 100px;
    font-style: italic;
}

button[type="submit"]{
    border: none;
    margin: 0;
    padding: 0;
    width: 12%;
    height: 100%;
    line-height: 30px;
    background-color: #f1f1f1;
    cursor: pointer;
}
.button {
    background-image: url("../img/search.png");
    background-repeat: no-repeat;
}
::-webkit-input-placeholder {
    color: #c2c2c2;
    font-style: normal;
}
::-moz-placeholder {
    color: #c2c2c2;
    font-style: normal;
}
:-moz-placeholder {
    color: #c2c2c2;
    font-style: normal;
}
:-ms-input-placeholder {
    color: #c2c2c2;
    font-style: normal;
}
.wrapper {
    width: 80%;
    margin: 0 auto 50px;
}

ul {
    padding: 0;
}
li {
    list-style: none;
    margin: 5px 40px 0 0;
    padding: 5px 10px;
    background: rgba(118,117,128,0.05);
}
li a {
    display: inline-block;
    width: 100%;
}
li:hover {
    background: rgba(118,117,128,0.1);
}
a {
    text-decoration: none;
    color: #c2c2c2;
    font-weight: bold;
    font-size: 12px;
}
a:hover {
    color: #ec5a62;
}
.column {
    width: 33%;
    display: inline-block;
    margin-right: -4px;
}
span {
    margin: 0 auto;
}
.text {
    margin: 0 auto;
}
.circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
    margin-right: 10px;
}

